/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

.nosotros-page {
  /**
   * COLORS
   */

  --gold-crayola: hsl(38, 61%, 73%);
  --quick-silver: hsla(0, 0%, 65%, 1);
  --davys-grey: hsla(30, 3%, 34%, 1);
  --smoky-black-1: hsla(40, 12%, 5%, 1);
  --smoky-black-2: hsla(30, 8%, 5%, 1);
  --smoky-black-3: hsla(0, 3%, 7%, 1);
  --eerie-black-1: hsla(210, 4%, 9%, 1);
  --eerie-black-2: hsla(210, 4%, 11%, 1);
  --eerie-black-3: hsla(180, 2%, 8%, 1);
  --eerie-black-4: hsla(0, 0%, 13%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --white-alpha-10: hsla(0, 0%, 100%, 0.1);
  --black: hsla(0, 0%, 0%, 1);
  --black-alpha-80: hsla(0, 0%, 0%, 0.8);
  --black-alpha-15: hsla(0, 0%, 0%, 0.15);
  --color-gray-300: oklch(87.2% 0.01 258.338);

  /**
   * GRADIENT COLOR
   */

  --loading-text-gradient: linear-gradient(
    90deg,
    transparent 0% 16.66%,
    var(--smoky-black-3) 33.33% 50%,
    transparent 66.66% 75%
  );
  --gradient-1: linear-gradient(
    to top,
    hsla(0, 0%, 0%, 0.9),
    hsla(0, 0%, 0%, 0.7),
    transparent
  );

  /**
   * TYPOGRAPHY
   */

  /* font-family */
  --fontFamily-forum: "Forum", cursive;
  --fontFamily-dm_sans: "DM Sans", sans-serif;

  /* font-size */
  --fontSize-display-1: calc(13px + 4.7vw);
  --fontSize-headline-1: calc(20px + 2.5vw);
  --fontSize-headline-2: calc(10px + 2.4vw);
  --fontSize-title-1: calc(16px + 1.2vw);
  --fontSize-title-2: 15px;
  --fontSize-title-3: 15px;
  --fontSize-title-4: calc(16px + 1.2vw);
  --fontSize-body-1: 24px;
  --fontSize-body-2: 16px;
  --fontSize-body-3: 18px;
  --fontSize-body-4: 16px;
  --fontSize-label-1: 12px;
  --fontSize-label-2: 12px;

  /* font-weight */
  --weight-regular: 400;
  --weight-bold: 700;

  /* line-height */
  --lineHeight-1: 1em;
  --lineHeight-2: 1.2em;
  --lineHeight-3: 1.5em;
  --lineHeight-4: 1.6em;
  --lineHeight-5: 1.85em;
  --lineHeight-6: 1.4em;

  /* letter-spacing */
  --letterSpacing-1: 0.15em;
  --letterSpacing-2: 0.4em;
  --letterSpacing-3: 0.2em;
  --letterSpacing-4: 0.3em;
  --letterSpacing-5: 3px;

  /**
   * SPACING
   */

  --section-space: 70px;

  /**
   * SHADOW
   */

  --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

  /**
   * BORDER RADIUS
   */

  --radius-24: 24px;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

.nosotros-page *,
.nosotros-page *::before,
.nosotros-page *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nosotros-page li {
  list-style: none;
}

.nosotros-page a,
.nosotros-page img,
.nosotros-page data,
.nosotros-page span,
.nosotros-page input,
.nosotros-page button,
.nosotros-page select,
.nosotros-page ion-icon,
.nosotros-page textarea {
  display: block;
}

.nosotros-page a {
  color: inherit;
  text-decoration: none;
}

.nosotros-page img {
  height: auto;
}

.nosotros-page input,
.nosotros-page button,
.nosotros-page select,
.nosotros-page textarea {
  background: none;
  border: none;
  font: inherit;
}

.nosotros-page input,
.nosotros-page select,
.nosotros-page textarea {
  width: 100%;
  outline: none;
}

.nosotros-page button {
  cursor: pointer;
}

.nosotros-page address {
  font-style: normal;
}

.nosotros-page {
  scroll-behavior: smooth;
  background-color: var(--color-gray-300);
  color: var(--white);
  font-family: var(--weight-bold);
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-5);
}

.nosotros-page.loaded {
  overflow: overlay;
}

.nosotros-page.nav-active {
  overflow: hidden;
}

.nosotros-page::-webkit-scrollbar {
  width: 5px;
}

.nosotros-page::-webkit-scrollbar-track {
  background-color: transparent;
}

.nosotros-page::-webkit-scrollbar-thumb {
  background-color: var(--gold-crayola);
}

/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/

.nosotros-page .display-1,
.nosotros-page .headline-1,
.nosotros-page .headline-2,
.nosotros-page .title-1,
.nosotros-page .title-2,
.nosotros-page .title-3,
.nosotros-page .title-4 {
  color: var(--white);
  font-family: var(--weight-bold);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}

.nosotros-page .display-1 {
  font-size: var(--fontSize-display-1);
  line-height: var(--lineHeight-1);
}

.nosotros-page .headline-1 {
  font-size: var(--fontSize-headline-1);
}

.nosotros-page .headline-2 {
  font-size: var(--fontSize-headline-2);
  line-height: var(--lineHeight-6);
}

.nosotros-page .title-1 {
  font-size: var(--fontSize-title-1);
}

.nosotros-page .title-2 {
  font-size: var(--fontSize-title-2);
}

.nosotros-page .title-3 {
  font-size: var(--fontSize-title-3);
}

.nosotros-page .title-4 {
  font-size: var(--fontSize-title-4);
}

.nosotros-page .body-1 {
  font-size: var(--fontSize-body-1);
  line-height: var(--lineHeight-6);
}

.nosotros-page .body-2 {
  font-size: var(--fontSize-body-2);
  line-height: var(--lineHeight-4);
}

.nosotros-page .body-3 {
  font-size: var(--fontSize-body-3);
}

.nosotros-page .body-4 {
  font-size: var(--fontSize-body-4);
}

.nosotros-page .label-1 {
  font-size: var(--fontSize-label-1);
}

.nosotros-page .label-2 {
  font-size: var(--fontSize-label-2);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.nosotros-page .container {
  padding-inline: 16px;
}

.nosotros-page .separator {
  width: 8px;
  height: 8px;
  border: 1px solid var(--gold-crayola);
  transform: rotate(45deg);
}

.nosotros-page .contact-label {
  font-weight: var(--weight-bold);
}

.nosotros-page .contact-number {
  color: var(--gold-crayola);
  max-width: max-content;
  margin-inline: auto;
}

.nosotros-page .hover-underline {
  position: relative;
  max-width: max-content;
}

.nosotros-page .hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-block: 1px solid var(--gold-crayola);
  transform: scaleX(0.2);
  opacity: 0;
  transition: var(--transition-2);
}

.nosotros-page .hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.nosotros-page .contact-number::after {
  bottom: -5px;
}

.nosotros-page .text-center {
  text-align: center;
}

.nosotros-page .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nosotros-page .section-subtitle {
  position: relative;
  color: var(--gold-crayola);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}

.nosotros-page .btn {
  position: relative;
  color: white;
  font-family: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-5);
  max-width: max-content;
  border: 2px solid white;
  padding: 12px 45px;
  overflow: hidden;
  z-index: 1;
}

.nosotros-page .btn::before {
  content: "";
  position: absolute;
  color: white;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: var(--radius-circle);
  background-color: #082c55;
  transition: var(--transition-2);
  z-index: -1;
}

.nosotros-page .btn .text {
  transition: var(--transition-1);
}

.nosotros-page .btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: white;
}

.nosotros-page .btn:is(:hover, :focus-visible)::before {
  bottom: -50%;
}

.nosotros-page .btn:is(:hover, :focus-visible) .text-1 {
  transform: translateY(-40px);
}

.nosotros-page .btn:is(:hover, :focus-visible) .text-2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.nosotros-page .btn-secondary {
  background-color: #000;
  color: white;
}

.nosotros-page .btn-secondary::before {
  background-color: #082c55;
}

.nosotros-page .btn-secondary .text-2 {
  color: white;
}

.nosotros-page .has-before,
.nosotros-page .has-after {
  position: relative;
  z-index: 1;
}

.nosotros-page .has-before::before,
.nosotros-page .has-after::after {
  content: "";
  position: absolute;
}

.nosotros-page .section {
  position: relative;
  padding-block: var(--section-space);
  overflow: hidden;
  z-index: 1;
}

.nosotros-page .bg-black-10 {
  background-color: var(--smoky-black-2);
}

.nosotros-page .grid-list {
  display: grid;
  gap: 40px;
}

.nosotros-page .img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--eerie-black-4);
}

.nosotros-page .shape {
  display: none;
  position: absolute;
  max-width: max-content;
  z-index: -1;
}

.nosotros-page .w-100 {
  width: 100%;
}

.nosotros-page .has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nosotros-page .input-field {
  background-color: var(--eerie-black-2);
  color: var(--white);
  height: 56px;
  padding: 10px 20px;
  border: 1px solid var(--white-alpha-10);
  margin-block-end: 20px;
  outline: none;
  transition: border-color var(--transition-2);
}

.nosotros-page .input-field::placeholder {
  color: inherit;
}

.nosotros-page .input-field:focus {
  border-color: var(--gold-crayola);
}

.nosotros-page .icon-wrapper {
  position: relative;
  margin-block-end: 20px;
}

.nosotros-page .icon-wrapper .input-field {
  margin-block-end: 0;
  padding-inline-start: 40px;
  appearance: none;
  cursor: pointer;
}

.nosotros-page .icon-wrapper ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  --ionicon-stroke-width: 50px;
  pointer-events: none;
}

.nosotros-page .icon-wrapper ion-icon:first-child {
  left: 15px;
}

.nosotros-page .icon-wrapper ion-icon:last-child {
  right: 10px;
}

/*-----------------------------------*\
  #SPECIAL DISH
\*-----------------------------------*/

.nosotros-page .special-dish-content {
  padding-block: 70px;
}

.nosotros-page .special-dish .abs-img {
  margin-inline: auto;
  margin-block-end: 12px;
}

.nosotros-page .special-dish .section-text {
  margin-block: 16px 40px;
}

.nosotros-page .special-dish-content .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 40px;
}

.nosotros-page .special-dish-content .del {
  text-decoration: none;
  color: var(--davys-grey);
}

.nosotros-page .special-dish-content .span {
  color: var(--gold-crayola);
}

.nosotros-page .special-dish .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
  #TESTIMONIALS
\*-----------------------------------*/

.nosotros-page .testi {
  padding-block-end: 340px;
  position: static;
}

.nosotros-page .testi .quote {
  font-size: 70px;
  font-family: var(--weight-bold);
  line-height: 0.7em;
}

.nosotros-page .testi .wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-block: 40px 50px;
}

/*-----------------------------------*\
  #RESERVATION
\*-----------------------------------*/

.nosotros-page .reservation-form {
  margin-block-start: -270px;
}

.nosotros-page .form-text {
  margin-block-end: 40px;
}

.nosotros-page .form-text .link {
  display: inline;
  color: var(--gold-crayola);
}

.nosotros-page .form-right .headline-1 {
  margin-block-end: 40px;
}

.nosotros-page .form-right .contact-label {
  margin-block-end: 5px;
}

.nosotros-page .form-right .separator {
  margin: 20px auto;
}

.nosotros-page .form-right .body-4 {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}

.nosotros-page .form-right .body-4:not(:last-child) {
  margin-block-end: 25px;
}

.nosotros-page .form-left,
.nosotros-page .form-right {
  padding: 40px 20px 30px;
}

.nosotros-page .input-field[type="date"] {
  text-transform: uppercase;
  padding-inline-end: 10px;
}

.nosotros-page .input-field[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.nosotros-page textarea.input-field {
  resize: none;
  height: 140px;
  padding-block: 20px;
  line-height: var(--lineHeight-1);
}

.nosotros-page .form-left .btn {
  max-width: 100%;
  width: 100%;
}

.nosotros-page .form-right {
  background-repeat: repeat;
  background-position: top left;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.nosotros-page .footer-top {
  margin-block-end: 70px;
}

.nosotros-page .footer-brand {
  position: relative;
  padding: 50px 40px;
  background: var(--smoky-black-1) url("../images/footer-form-bg.png");
  background-position: center top;
  background-repeat: repeat;
}

.nosotros-page .footer-brand::before,
.nosotros-page .footer-brand::after {
  top: 0;
  width: 15px;
  height: 100%;
  background-image: url("../images/footer-form-pattern.svg");
}

.nosotros-page .footer-brand::before {
  left: 0;
}

.nosotros-page .footer-brand::after {
  right: 0;
}

.nosotros-page .footer-brand .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 40px;
}

.nosotros-page .footer-brand :is(.body-4, .label-1) {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}

.nosotros-page .footer-brand .contact-link {
  margin-block: 6px;
  transition: var(--transition-1);
}

.nosotros-page .footer-brand .contact-link:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

.nosotros-page .footer-brand .wrapper {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-block: 40px 25px;
}

.nosotros-page .footer-brand .separator {
  animation: rotate360 15s linear infinite;
}

.nosotros-page .footer-brand .label-1 {
  margin-block-end: 30px;
}

.nosotros-page .footer-brand .label-1 .span {
  display: inline;
  color: var(--white);
}

.nosotros-page .footer-brand .icon-wrapper .input-field {
  cursor: text;
}

.nosotros-page .footer-brand .btn {
  min-width: 100%;
}

.nosotros-page .footer-list {
  display: grid;
  gap: 20px;
}

.nosotros-page .footer-link {
  color: var(--quick-silver);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-4);
  margin-inline: auto;
  transition: var(--transition-1);
}

.nosotros-page .footer-link:is(:hover, :focus-visible) {
  color: var(--gold-crayola);
}

.nosotros-page .copyright {
  color: var(--quick-silver);
  line-height: var(--lineHeight-3);
}

.nosotros-page .copyright .link {
  display: inline;
  color: var(--gold-crayola);
  text-decoration: underline;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  .nosotros-page {
    /**
     * typography
     */

    --fontSize-body-2: 20px;
  }

  /**
   * REUSED STYLE
   */

  .nosotros-page .contact-number {
    --fontSize-body-1: 30px;
  }

  /**
   * FOOTER
   */

  .nosotros-page .footer-brand > * {
    max-width: 460px;
    margin-inline: auto;
  }

  .nosotros-page .footer .input-wrapper {
    position: relative;
  }

  .nosotros-page .footer .input-field {
    margin-block-end: 0;
    padding-inline-end: 205px;
  }

  .nosotros-page .footer-brand .btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: max-content;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .nosotros-page .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * RESERVATION
   */

  .nosotros-page .reservation .input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .nosotros-page .reservation .input-wrapper:nth-child(4) {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * FOOTER
   */

  .nosotros-page .footer-brand {
    grid-column: 1 / 3;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  .nosotros-page {
    /**
     * spacing
     */

    --section-space: 100px;
  }

  /**
   * REUSED STYLE
   */

  * SPECIAL DISH */ .nosotros-page .special-dish {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }

  .nosotros-page .special-dish-content {
    padding-inline: 50px 25px;
  }

  .nosotros-page .special-dish-content .container {
    position: relative;
  }

  .nosotros-page .special-dish .section-subtitle::after,
  .nosotros-page .special-dish .btn {
    margin-inline: 0;
  }

  .nosotros-page .special-dish-content .wrapper {
    justify-content: flex-start;
  }

  .nosotros-page .special-dish .abs-img {
    position: absolute;
    top: 10px;
    left: -40px;
    animation: move 5s linear infinite;
  }

  /**
   * TESTIMONIALS
   */

  .nosotros-page .testi-text {
    max-width: max-content;
    margin-inline: auto;
  }

  /**
   * RESERVATION
   */

  .nosotros-page .reservation-form {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }

  /**
   * FOOTER
   */

  .nosotros-page .footer .grid-list {
    grid-template-columns: 0.45fr 1fr 0.45fr;
    align-items: center;
  }

  .nosotros-page .footer-brand {
    grid-column: auto;
    order: 1;
    padding-block: 100px;
  }

  .nosotros-page .footer-list:last-child {
    order: 2;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  .nosotros-page {
    /**
     * typography
     */

    --fontSize-title-2: 15px;
  }

  /**
   * REUSED STYLE
   */

  .nosotros-page .container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }

  /**
   * SPECIAL DISH
   */

  .nosotros-page .special-dish-content {
    padding: 225px 120px;
    padding-inline-end: 0;
  }

  .nosotros-page .special-dish-content .container {
    max-width: 460px;
    margin-inline: 0;
  }

  /**
   * TESTIMONIALS
   */

  .nosotros-page .form-left,
  .nosotros-page .form-right {
    padding: 75px 60px;
  }
}

/**
 * responsive for larger than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * HEADER
   */

  .nosotros-page .navbar {
    margin-inline: auto;
  }

  /**
   * ABOUT
   */

  .nosotros-page .about-content {
    padding-inline-end: 90px;
  }

  .nosotros-page .about .shape {
    display: block;
    top: 46%;
    left: 0;
  }

  /**
   * SPECIAL DISH
   */

  .nosotros-page .special-dish {
    overflow: visible;
    position: relative;
  }

  .nosotros-page .special-dish .shape {
    display: block;
    right: 0;
    z-index: 1;
  }

  .nosotros-page .special-dish .shape-1 {
    top: 45%;
  }

  .nosotros-page .special-dish .shape-2 {
    bottom: 15%;
    transform: translateY(50%);
    width: 20%;
  }
}
