body {
  font-family: "Montserrat", serif;
  background: rgb(221, 221, 221) !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
  background: #526b86 !important;
}
::-webkit-scrollbar-thumb {
  background: #000;
}

.btn-lg {
  padding: 8px 22px !important;
  background-color: #082c55 !important;
  color: #fff !important;
  font-size: 16px !important;
  cursor: pointer;
  border-radius: 0.375rem;
  border: 1px solid #526b86 !important;
  transition: transform 0.3s, background-color 0.3s !important;
}

.btn-lg:hover {
  background-color: #000 !important;
  transform: translateY(-0.25rem);
}

.btn-sm {
  padding: 6px 20px !important;
  background-color: #082c55 !important;
  color: #fff !important;
  cursor: pointer;
  border-radius: 0.375rem;
  border: 1px solid #526b86 !important;
  transition: transform 0.3s, background-color 0.3s !important;
}

.btn-sm:hover {
  background-color: #000 !important;
  transform: translateY(-0.25rem);
}

.btn-blue {
  background: #526b86 !important;
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  border: 1px solid #7994b1 !important;
  box-shadow: 3px 3px 3px #000 !important;
  transition: all 0.3s ease !important;
  text-transform: capitalize !important;
}

.btn-blue:hover {
  background: #082c55 !important;
  color: #fff !important;
}

.custom-pagination .Mui-selected {
  background-color: #526b86 !important;
  color: #fff !important;
}

th.MuiTableCell-root {
  background-color: var(--color-gray-700) !important;
  color: #fff !important;
}

a.active {
  background: transparent !important;
}

.MuiButton-icon svg {
  font-size: 25px !important;
}

.css-rizt0-MuiTypography-root {
  font-size: 16px !important;
}

.MuiAppBar-colorPrimary {
  background: #4b5563 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.MuiDialog-paper {
  background: #e5e7eb !important;
}

.otpBox input {
  border: 1px solid #082c55 !important;
  outline: none !important;
  border-radius: 4px !important;
  box-shadow: 2px 2px 3px #689ad3;
}
.otpBox input:focus {
  border: 2px solid #082c55 !important;
  box-shadow: 3px 3px 3px #689ad3;
}
.otpPage .container {
  height: 90vh !important;
  display: flex;
}

.MuiTableBody-root tr:nth-child(even) {
  background: #374151 !important;
}

button .MuiCircularProgress-root {
  width: 30px !important;
  height: 30px !important;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
  pointer-events: none;
  background: #f1f1f1 !important;
}

.react-international-phone-input {
  width: 100% !important;
}

.react-international-phone-country-selector-button {
  width: 55px !important;
}

.react-international-phone-input-container {
  border: 1px solid #082c55 !important;
}

.zoomProductSliderThumbs .swiper-slide {
  height: 80px !important;
  overflow: hidden;
  border-radius: 5px;
}
.zoomProductSliderThumbs.space .swiper-wrapper {
  padding-top: 38px !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0px !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
  background: #082c55 !important;
}

.zoomProductSliderThumbs .swiper-button-next::after {
  transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 20px !important;
  left: 0 !important;
  width: 100% !important;
  height: 30px !important;
  border-radius: 0px !important;
  background: #082c55 !important;
}
.zoomProductSliderThumbs .swiper-button-prev::after {
  transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-prev:hover,
.zoomProductSliderThumbs .swiper-button-next:hover {
  background: #082c55 !important;
}
.zoomProductSliderThumbs .swiper-button-prev:hover::after,
.zoomProductSliderThumbs .swiper-button-next:hover::after {
  color: #fff !important;
}
.swiper-slide .iiz {
  height: 400px !important;
  overflow: hidden !important;
}
.productContent .actions button {
  min-width: 40px !important;
  min-height: 30px !important;
  border: 1px solid #082c55 !important;
  color: #082c55;
  transition: all 0.3s ease !important;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
  transition: all 0.2s;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
  color: #fff;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}
.smlBtn .swiper-button-prev:hover,
.smlBtn .swiper-button-next:hover {
  background: #082c55 !important;
  font-size: 18px !important;
}

.smlBtn .swiper-button-prev:hover::after,
.smlBtn .swiper-button-next:hover::after {
  color: #fff !important;
}

.contentRight {
  margin-top: 60px !important;
}

.rsw-editor {
  min-height: 200px !important;
  background: #fff !important;
  border-color: #9fc3ec !important;
  box-shadow: 3px 3px 3px #082c55 !important;
}
