@media only screen and (min-width: 320px) and (max-width: 992px) {
  html,
  body {
    overflow-x: hidden;
  }

  .btn-sm {
    padding: 3px 10px !important;
    font-size: 11px !important;
  }
  .btn-lg {
    padding: 5px 10px !important;
    font-size: 14px !important;
  }
  .btn {
    padding: 5px 10px !important;
    font-size: 12px !important;
  }
  .btn svg {
    font-size: 15px !important;
  }

  .navigation ul {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block !important;
    text-align: center;
  }
  .navigation ul::-webkit-scrollbar {
    display: none !important;
  }
  .navigation ul li {
    display: inline-block !important;
    vertical-align: top !important;
  }

  .container {
    width: 95% !important;
    max-width: 95% !important;
  }

  .scrollableBoxx {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block !important;
  }
  .scrollableBoxx::-webkit-scrollbar {
    display: none !important;
  }
  .scrollableBoxx .box {
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: auto !important;
  }
  .scrollableBoxx .box .info * {
    white-space: break-spaces !important;
  }
  .scrollableBoxx .col {
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: auto !important;
  }

  /* {.resBannerSlider {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block !important;
  }

  .resBannerSlider .swiper-slide {
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: 12px !important;
    width: 200px !important;
  }

  .resBannerSlider .swiper-slide * {
    white-space: break-spaces !important;
  }}*/
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .MuiTabs-flexContainer button {
    font-size: 13px !important;
  }
  .productItem .addToCartBtn {
    padding: 7px 13px !important;
  }
}
