.categoryPanel button {
  text-transform: capitalize !important;
}

.nav li .submenu {
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  position: absolute;
  min-width: 200px;
  background: #ebebeb;
  box-shadow: 3px 3px 3px #274a72;
}

.nav li:hover .submenu {
  opacity: 1 !important;
  visibility: visible;
  top: 100%;
}

.nav li .submenu li {
  position: relative;
}

.nav li .submenu li:hover button {
  background: #fff !important;
}

.nav li .submenu li .submenu {
  top: 0 !important;
  left: 100% !important;
  opacity: 0 !important;
  visibility: hidden;
  position: absolute;
  min-width: 200px;
  background: #fff;
  box-shadow: 3px 3px 3px #274a72;
}

.nav li .submenu li:hover .submenu,
.nav li .submenu li .submenu:hover {
  opacity: 1 !important;
  visibility: visible !important;
}

.nav li .submenu li .submenu button {
  background: #fff !important;
}

.nav li .submenu li .submenu button:hover {
  color: #fff !important;
  background: #082c55 !important;
}
